<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Nft </h2>
    <h3>By WolfStreet</h3>
  </div>
</header>


<%- include('partials/footer'); -%>